.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}
@keyframes App-logo-float {
  0% {
    transform: translateY(1vh);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(1vh);
  }
}

.App-header {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-bottom: 1px solid black;
}

.subreddit{
  border: 0;
}
.subreddit img{
  border: 3px solid black;
}

#selected-subreddit img{
  border: 3px solid gold;
}

main{
  position: fixed;
  bottom: 1em;
  right: 1em;
  left: 1em;
  top: 30vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

main .post{
  width: 80%;
  border: 1px solid black;
  box-shadow: 0.3em 0.3em 0.3em black;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.post img{
  max-width: 60%;
  height: auto;
  margin: 1em;
}

.post button{
  padding: 1em;
}

.post button:hover{
  cursor: pointer;
}

.post-comments{
  list-style: none;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.post-comments li{
  border-bottom: 1px dotted black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}